# System requirements
cython

# Data structures
pandas

# Semantic storage
# datadotworld[pandas]
-e git+https://github.com/Altaisoft/data.world-py.git@lazy-fileconfig#egg=datadotworld

# Contact the Web
aiohttp
