# System requirements
cython

# Data structures
pandas

# Semantic storage

# This is the original package:
# datadotworld[pandas]

# And this is our own a bit changed version
# -e option does not work here due to https://github.com/pypa/pip/issues/4390
git+https://github.com/anatoly-scherbakov/data.world-py.git@lazy-fileconfig#egg=datadotworld

# Contact the Web
aiohttp
